"""This file contains all user settings of the application"""


# Path to the database file.
DATABASE = 'polls.db'

# Address to listen on
WEBSERVER_ADDRESS = '0.0.0.0'

# Port of the webserver
WEBSERVER_PORT = 5000

# Optional Mattermost token
MATTERMOST_TOKEN = None
